@using Umbraco.Forms.Core.Providers.FieldTypes
@model Umbraco.Forms.Web.Models.FieldViewModel

@{
    var isValid = (Model.Mandatory && Model.Values != null && Model.Values.Any()) || (!Model.Mandatory);
    if (Model.AdditionalSettings.TryGetValue("SelectedFilesListHeading", out string? selectedFilesLabel) == false ||
        string.IsNullOrWhiteSpace(selectedFilesLabel))
    {
        selectedFilesLabel = "Current file(s)";
    }
}
<input type="file" name="@Model.Name" id="@Model.Id" data-umb="@Model.Id" @(Model.AllowMultipleFileUploads ? "multiple" : string.Empty)
       data-val="@(isValid == false ? "true" : null)"
       data-val-required="@(isValid == false ? Model.RequiredErrorMessage : null)"
       @{if (!string.IsNullOrEmpty(Model.ToolTip)) { <text> aria-describedby="@(Model.Id)_description" </text> } }/>

@if (Model.Values != null && Model.Values.Any())
{
    <p>
        <strong>@selectedFilesLabel:</strong><br />
        @foreach (string filePath in Model.Values)
        {
            var fileName = filePath.Split(new[] { FileUpload.EncryptedFilePathAndFileNameSeparator }, StringSplitOptions.None).Last();

            <a>@fileName</a><br />
            <input type="hidden" name="@(Model.Name)_file_@(fileName)" value="@filePath" />
        }
    </p>
}
